@using MediaMarketplace.Models.ViewModels
@model ActivitySummaryViewModel
@{
    ViewBag.Title = "Activity Summary";
}

<div class="content-container activity-container">
    <h2>Licenses Purchased</h2>
    <div class="site-section licenses-purchased">

    </div>
    <h2>Copyrights Purchased</h2>
    <div class="site-section copyrights-purchased">

    </div>
    <h2>Copyrights Sold</h2>
    <div class="site-section copyrights-sold">

    </div>
</div>