@using MediaMarketplace.Models.ViewModels
@model PaymentInfoViewModel
@{
    ViewBag.Title = "Add Payment Information";
}

<div class="content-container add-pay-container">
    <div class="site-section add-pay-info">
        <h2>Add Payment Information</h2>
        <form class="form" method="post" action="/Account/AddPaymentInfoSubmit">
            <fieldset>
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "bank-account", LabelText = "Bank Account" })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "routing-number", LabelText = "Routing Number" })
                @Html.Partial("/Views/Shared/_FormSubmit.cshtml", new FormSubmitViewModel { ButtonText = "Add Payment Information" })
            </fieldset>
        </form>
        <div class="submit-results">
            <div class="success add-pay-info-success">
                You successfully added a payment method.
            </div>
            <div class="failure add-pay-info-failure">
                There was an issue adding a new payment method.
            </div>
        </div>
    </div>
</div>