@using MediaMarketplace.Models.ViewModels
@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Add Copyright";

    var fileTypes = new List<ListItem>
    {
        new ListItem { Text="Image", Value="image" },
        new ListItem { Text="Video", Value="vide" },
        new ListItem { Text="Audio", Value="audio" },
        //new ListItem { Text="Document", Value="document" }
    };
}

<div class="content-container add-copyright-container">
    <div class="site-section add-copyright">
        <h2>Add Copyrighted Intellectual Property</h2>
        <form class="form" id="add-copyright-form" method="post" action="/Copyright/AddCopyrightSubmit" enctype="multipart/form-data">
            <fieldset>
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "name", LabelText = "File Name" })
                @Html.Partial("/Views/Shared/_FormFile.cshtml", new FormFileViewModel { CssClass = "file", LabelText = "Upload File" })
                @Html.Partial("/Views/Shared/_FormSelect.cshtml", new FormSelectViewModel { CssClass = "filetype", LabelText = "File Type", ListItems = fileTypes })
                @Html.Partial("/Views/Shared/_FormSubmit.cshtml", new FormSubmitViewModel { ButtonText = "Add Copyright" })
            </fieldset>
        </form>
        <div class="submit-results">
            <div class="success add-copyright-success">
                You successfully added copyrighted property.
            </div>
            <div class="failure add-copyright-failure">
                There was an issue adding copyrighted property.
            </div>
        </div>
    </div>
</div>