@using MediaMarketplace.Models.ViewModels
@using System.Web.UI.WebControls
@model AddLicenseViewModel
@{
    ViewBag.Title = "Add License";

    var licenseTypes = new List<ListItem>
    {
        new ListItem { Text="master", Value="master" },
        new ListItem { Text="sync", Value="sync" },
        new ListItem { Text="performance", Value="performance" },
        new ListItem { Text="mechanical", Value="mechanical" },
        new ListItem { Text="broadcast", Value="broadcast" },
        new ListItem { Text="print", Value="print" },
        new ListItem { Text="theatrical", Value="theatrical" }
    };
}

<div class="content-container add-license-container">
    <h2>Add License to your Intellectual Property</h2>
    <div class="site-section add-license">
        <form class="form" method="post" action="/Copyright/AddLicenseSubmit">
            <fieldset>
                @Html.Partial("/Views/Shared/_FormSelect.cshtml", new FormSelectViewModel { CssClass = "copyright-file", LabelText = "Property", ListItems = Model.CopyrightFiles })
                @Html.Partial("/Views/Shared/_FormSelect.cshtml", new FormSelectViewModel { CssClass = "license-type", LabelText = "License Type", ListItems = licenseTypes })
                @Html.Partial("/Views/Shared/_FormSubmit.cshtml", new FormSubmitViewModel { CssClass = "add-license-submit", ButtonText = "Add License" })
            </fieldset>
        </form>
        <div class="submit-results">
            <div class="success add-license-success">
                You successfully added a license.
            </div>
            <div class="failure add-license-failure">
                There was an issue adding a license.
            </div>
        </div>
    </div>
</div>