@model MediaMarketplace.Models.ViewModels.BuyCopyrightViewModel
@{
    ViewBag.Title = "Buy Copyright";
}

<div class="content-container searching">
    <h2>Search</h2>
    <div class="site-section">
        <form class="search-form" method="post" action="/Search/Search">
            <fieldset>
                <div class="form-row">
                    <label for="connection">Connections</label>
                    <select id="connection" class="connection">
                        @foreach (var sc in Model.SolrConnections)
                        {
                            <option value="@sc.Id">@sc.Url/@sc.Core</option>
                        }
                        @foreach (var sc in Model.AzureConnections)
                        {
                            <option value="@sc.Id">@sc.Url/@sc.Core</option>
                        }
                    </select>
                </div>
                <div class="form-row">
                    <label for="query">Search Query</label>
                    <input type="text" id="query" class="query" />
                </div>
                <div class="form-row button-row">
                    <button class="submit scButton">Search Index</button>
                </div>
            </fieldset>
        </form>
        <div class="search-failure">The search failed to produce results.</div>
        <div class="search-results"></div>
    </div>
</div>