@using MediaMarketplace.Models.ViewModels
@using System.Web.UI.WebControls
@model BuyLicenseViewModel
@{
    ViewBag.Title = "Buy License";
}

<div class="content-container buy-license-container">
    <h2>Purchase a License</h2>
    <div class="site-section buy-license">
        <form class="form" method="post" action="/Copyright/BuyLicenseSubmit">
            <fieldset>
                @Html.Partial("/Views/Shared/_FormSelect.cshtml", new FormSelectViewModel { CssClass = "copyright-file", LabelText = "Property", ListItems = Model.CopyrightFiles })
                @Html.Partial("/Views/Shared/_FormSelect.cshtml", new FormSelectViewModel { CssClass = "copyright-license", LabelText = "License" })
                @Html.Partial("/Views/Shared/_FormSubmit.cshtml", new FormSubmitViewModel { ButtonText = "Purchase License" })
            </fieldset>
        </form>
        <div class="submit-results">
            <div class="success buy-license-success">
                You successfully purchasing a license.
            </div>
            <div class="failure buy-license-failure">
                There was an issue purchasing a license.
            </div>
        </div>
    </div>
</div>