@using MediaMarketplace.Models.ViewModels
@using System.Web.UI.WebControls
@model SellCopyrightViewModel
@{
    ViewBag.Title = "Sell Copyright";
}

<div class="content-container sell-copyright-container">
    <h2>Place Your Copyright for Sale</h2>
    <div class="site-section sell-copyright">
        <form class="form" method="post" action="/Copyright/SellCopyrightSubmit">
            <fieldset>
                @Html.Partial("/Views/Shared/_FormSelect.cshtml", new FormSelectViewModel { CssClass = "copyright-file", LabelText = "Property", ListItems = Model.CopyrightFiles })
                @Html.Partial("/Views/Shared/_FormText.cshtml", new FormTextViewModel { CssClass = "amount", LabelText = "Amount" })
                @Html.Partial("/Views/Shared/_FormSubmit.cshtml", new FormSubmitViewModel { ButtonText = "Place Copyright for Sale" })
            </fieldset>
        </form>
        <div class="submit-results">
            <div class="success buy-license-success">
                You successfully placed a copyright for sale.
            </div>
            <div class="failure buy-license-failure">
                There was an issue placing a copyright for sale.
            </div>
        </div>
    </div>
</div>