/* GLOBAL */
body { width: 1000px; margin: 0px auto; background:#fdfdfd; font-family:Arial, Helvetica, sans-serif; }
header { margin: 20px 0px; position:relative; }
.site-name { font-size:45px; font-weight:bold; }
.site-name a { color: #000; text-decoration:none; cursor:pointer; }
h2 { font-size: 20px; margin: 0; background: #ddd; padding: 4px 8px; border-radius: 10px 0 10px 0px; border: 1px solid #236bc5; }
.content {  }

/* NAVIGATION */
.navbar { }
.navbar ul { padding:0px; }
.navbar > ul { border-bottom: 3px solid #236bc5; }
.navbar .topitems > li { display:inline-block; margin:0 5px 0 0; position:relative; text-decoration: none; padding: 6px 20px; background-color: #236bc5; color: #fff; font-weight: bold; border-radius: 10px 0 0px 0; }
.navbar .topitems > li:hover { background-color: #ffc347; color:#fff; }
.site-section { border: 1px solid #236bc5; padding: 4px; margin: 0 0 10px 0; position: relative; border-radius: 10px 0px; border-width: 1px; }
.navbar .topitems > li:hover > .subitems { display:block; }
.navbar .subitems { display:none; z-index:9; }
.navbar .subitems { position:absolute; top:30px; left:0; width:196px; }
.navbar .subitems li { display:block; background-color: #236bc5; }
.navbar .subitems li:hover { background-color: #ffc347; }
.navbar .subitems li a { display:block; color:#fff; text-decoration: none; padding: 6px 20px; font-weight:normal; }
.navbar .subitems:hover { }

/* PROFILE NAV */
.profile-nav { position: absolute; top: 10px; background-color: #236bc5; right: 20px; border-radius: 10px 0 10px 0; padding: 5px 10px; color: #fff; }
.profile-nav a { color:#fff; font-weight:bold; text-decoration:none; }
.profile-nav a:hover { color:#ffc347; }

/* FORM */
form { margin-top: 30px; }
form fieldset { border:none; padding: 0px; margin: 20px 0; }
.form-row { margin: 0 0 10px; }
.form-group { margin: 0 0 5px; }
.button-row { margin:20px 0 0; padding:0 130px; }
button { color: #fff; background: #236bc5; border-radius: 10px 0 10px 0; border: none; padding: 6px 9px; cursor: pointer; }
button:hover { background:#ffc347; }
label { display:inline-block; font-size:12px; vertical-align: middle; width: 125px; text-align:right; }
.input[type=checkbox] { display:inline-block; width:auto; margin-right: 5px; vertical-align:top; }
.submit-results .success,
.submit-results .failure { display:none; font-weight: bold; font-size: 12px; padding: 4px 10px; color:#fff; position:absolute; top:40px; right:0px; left:0px; }
.submit-results .success { background-color:#3cc771; }
.submit-results .failure { background-color:#ed6561; }

/* PROGRESS INDICATOR */
.progress-indicator { display:none; position: fixed; top: 0px; left: 0px; right: 0px; bottom:0px; text-align: center; }
.progress-indicator img { width: 150px; position: absolute; top: 38%; border: 1px solid #ccc; left: 45%; border-radius: 39px; }
.progress-indicator .pi-bg { opacity: 0.7; background-color: #fbfbfb; height:100%; width:100%; }

/* SCROLLABLE */
.scrollable { max-height: 200px; overflow-y: scroll; }

/* COLORS */
.blue { color: #236bc5; }
.purple { color: #684bb6; }
.green { color: #3cc771; }
.pink { color: #fe8995; }
.yellow { color: #ffc347; }
.red { color: #ed6561; }

/* NEWS */
.news-item { height: 200px; overflow:hidden; position:relative; margin:10px 5px; border: 1px solid #236bc5; }
.news-item .title { font-weight:bold; font-size:30px; width:600px; margin:20px; }
.news-item .title:hover { color:#ffc347; cursor:pointer; }
.news-item .date { margin:0 20px; font-size:17px; }
.news-item .image { position:absolute; top:0; right: 0; }
.news-item .image img { height:200px; }

/* REGISTER LOGIN */
.register { margin-right:10px; }
.register,
.login { width:482px; display:inline-block; display:inline-block; vertical-align:top; }

/* PAY INFO */
.pay-info .form-row { display:inline-block; }
.pay-info .form-row { margin-top:0; }
.pay-info .form { border-bottom: 1px solid #236bc5; }
.pay-info .form:last-of-type { border-bottom:none; }
.pay-info .delete { background-color: #ed6561; }
.pay-info .delete:hover { background-color: #ffc347; }

/* VIEW COPYRIGHTS */
.view-copyright h2 { margin-bottom:20px; }
.view-copyright form { vertical-align:top; margin: 5px 5px; display: inline-block; width: 470px; border: 1px solid #236bc5; padding: 5px; height:190px; position:relative; }
.view-copyright fieldset { margin:0px; }
.view-copyright fieldset span { font-weight:bold; }
.media-name { }
.media-active { }
.media-type { }
.media-file { }
.media-file img { height: 200px; position: absolute; right: 0; top: 0;}
.media-file audio { }    
.media-file video { }
.media-file a { color: #236bc5; font-weight:bold; }
.media-file a:hover { color: #ffc347; }
.view-copyright fieldset .button-row { padding:0px; position:absolute; bottom: 5px; }
.view-copyright fieldset .button-row .show { display:block; }
.view-copyright fieldset .button-row .hide { display:none; }


@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    body { width: auto; margin: 0px 10px; }
    header { margin-top:30px; }
    .profile-nav { top: -30px; right: -10px; border-radius: 0px 0 0px 10px; }
    .button-row { padding: 0px 0 0 130px; }
    .news-item .image img { height: 100px; }
    .news-item .title { width: 170px; margin: 0px; font-size:12px; }
    .news-item .date { margin: 0; font-size: 10px; }
    .news-item { padding: 5px; height:auto; }
}