body { width: 1000px; margin: 0px auto; background:#fdfdfd; font-family:Arial, Helvetica, sans-serif; }
header { margin: 20px 0px; }
h2 { font-size: 14px; margin: 5px 0 0 0; background: #ddd; padding: 4px 8px; border-radius: 10px 0 0px 0px; border: 1px solid #236bc5; }
.navbar { }
.navbar ul { padding:0px; }
.navbar li { display:inline-block; margin:0 5px 0 0; }
.navbar a { text-decoration: none; padding: 6px 20px; background-color: #236bc5; color: #fff; font-weight: bold; border-radius: 10px 0 10px 0; }
.navbar a:hover { background-color: #ffc347; color:#fff; }
.site-section { border: 1px solid #236bc5; padding: 22px 4px 4px 4px; margin: 0 0 10px 0; position: relative; border-radius: 0 0px 10px 0px; border-width: 0px 1px 1px; }
form { }
form fieldset { border:none; padding: 0px; margin: 20px 0; }
.form-row { margin: 0 0 10px; }
.form-group { margin: 0 0 5px; }
.button-row { margin:20px 0 0; padding:0 130px; }
button { color: #fff; background: #236bc5; border-radius: 10px 0 10px 0; border: none; padding: 6px 9px; cursor: pointer; }
button:hover { background:#ffc347; }
.content {  }
.empty-success,
.test-success,
.submit-success,
.empty-failure,
.test-failure,
.submit-failure,
.search-failure { display:none; font-weight: bold; font-size: 12px; padding: 4px 10px; color:#fff; position:absolute; top:0px; right:0px; left:0px; }
.test-success,
.empty-success,
.submit-success { background-color:#3cc771; }
.test-failure,
.empty-failure,
.submit-failure,
.search-failure { background-color:#ed6561; }
/* PROGRESS INDICATOR */
.progress-indicator { display:none; position: fixed; top: 0px; left: 0px; right: 0px; bottom:0px; text-align: center; }
.progress-indicator img { width: 150px; position: absolute; top: 38%; border: 1px solid #ccc; left: 45%; border-radius: 39px; }
.progress-indicator .pi-bg { opacity: 0.7; background-color: #fbfbfb; height:100%; width:100%; }
/* CONFIGURATION */
.content label { width: 125px; display:inline-block; font-size:15px; text-align:right; font-weight:bold; vertical-align:top; }
.content input { width: 200px; display:inline-block; border: 1px solid #aaa; }
.content select { width:205px; border:1px solid #aaa; }
.sites { display:inline-block; }
.sites label { display:inline-block; font-size:12px; vertical-align: middle; width: auto; }
.sites input[type=checkbox] { display:inline-block; width:auto; margin-right: 5px; vertical-align:top; }
/* SCROLLABLE */
.scrollable { max-height: 200px; overflow-y: scroll; }
/* INDEXING */
.job-messages { height: 200px; border: 1px solid #236bc5; overflow: auto; border-radius: 10px 0 10px 0; box-shadow:inset 0px 0px 5px 1px #ccc; }
.message { font-size:14px; padding:3px 10px; }
.message:nth-child(odd) { background: #eee; }
/* SEARCH */
.search-results { height: 200px; border: 1px solid #236bc5; overflow: auto; border-radius: 10px 0 10px 0; box-shadow:inset 0px 0px 5px 1px #ccc; }
.result { margin: 10px; padding: 0px 0 15px 0; border: 1px solid #ccc; border-width: 0px 0 1px 0; }
.result .title { font-weight:bold; font-size:16px; margin-bottom:2px; }
.result .description { font-size: 13px; margin-bottom: 4px; color: #555; line-height: 22px; }
.result .url { text-decoration:underline; font-size:12px; }
.result a { color: #236bc5; }
.result a:hover { color: #ffc347; }
.blue { color: #236bc5; }
.purple { color: #684bb6; }
.green { color: #3cc771; }
.pink { color: #fe8995; }
.yellow { color: #ffc347; }
.red { color: #ed6561; }
