@model MediaMarketplace.Models.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="content-container dashboard-container">
    <div class="site-section licenses-purchased">
        <h2>Licenses Purchased</h2>

    </div>
    <div class="site-section copyrights-purchased">
        <h2>Copyrights Purchased</h2>

    </div>
    <div class="site-section copyrights-sold">
        <h2>Copyrights Sold</h2>

    </div>
</div>