@{
    ViewBag.Title = "";
}

<div class="content-container home">
    <h2>Latest News in Intellectual Property Rights</h2>
    <div class="site-section">
        <div class="news-item">
            <div class="title">AI-Created Images Lose U.S. Copyrights in Test for New Technology</div>
            <div class="date">Reuters Feb. 22, 2023</div>
            <div class="image"><img src="~/assets/img/home-article-1.jfif" /></div>
        </div>
        <div class="news-item">
            <div class="title">Meta Loses Bid to Toss $175 Million Verdict in Streaming Patent Case</div>
            <div class="date">Reuters Feb. 22, 2023</div>
            <div class="image"><img src="~/assets/img/home-article-2.jfif" /></div>
        </div>
        <div class="news-item">
            <div class="title">Canada Moves to Restrict Research Funding to Protect Intellectual Property</div>
            <div class="date">Reuters Feb. 14, 2023</div>
            <div class="image"><img src="~/assets/img/home-article-3.jfif" /></div>
        </div>
        <div class="news-item">
            <div class="title">AFL-CIO Wants Bigger Say in U.S. Digital Trade Deals for Workers</div>
            <div class="date">Reuters Feb. 7, 2023</div>
            <div class="image"><img src="~/assets/img/home-article-4.jfif" /></div>
        </div>
    </div>
</div>