@model MediaMarketplace.Models.ViewModels.FormTextViewModel
<div class="form-row">
    <label for="@Model.CssClass">@Model.LabelText</label>
    <input type="text" id="@Model.CssClass" class="@Model.CssClass" />
</div>